@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0px 100px;
    overflow: hidden;
}
nav li{
    display: inline;
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.subtext{
    color:rgb(223, 223, 223);
}
figcaption{
    color:rgb(136, 136, 136);
    text-align: center;
    font-size: 12px;
    padding: 5px 10px;
}
#logo{
    float: left;
}
.landing{
    background-color:rgb(11, 11, 48);
    color: white;
}
.hero{
    display: inline-flex;
}
.first-section{
    width: 50%;
    margin:80px 100px;
    display: inline-block;
}
.first-section h1{
    margin-top: 0;
}
.btn{
    padding: 5px 20px;
    color: white;
    background-color: dodgerblue;
    border: 0px;
    border-radius: 5px;
}
.btn2{
    padding: 5px 20px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
}
.second-section{
    width: 50%;
    margin:80px 100px;
    display: inline-block;
}
.second-section img{
    width:inherit;
}
.heading{
    color: rgb(11, 11, 48);
    text-align: center;
    font-weight: 700;
}
.second-row {
    padding: 0px 15px;
    margin: 0px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
}
.column{
  min-width: 50px;
  text-align: center;
  margin: 10px;
}
.column img{
    width: 200px;
}
.third-row{
    padding:150px 250px;
    background-color: aliceblue;
}
.third-row q{
    font-style: italic;
    font-size: 30px;
    font-weight: 300;
}
footer{
    background-color: rgb(11, 11, 48);
    padding: 10px;
}
.fourth-row{
    margin:80px 100px;
}
.alert{
    background-color: dodgerblue ;
    padding: 20px 200px;
    color: white;
    border-radius: 10px;
}
footer p{
    text-align: center;
    color: white;
}